<a href="https://colab.research.google.com/github/williams-bhs/williams-bhs.github.io/blob/main/notebooks/Python_Notebook_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# An Introduction to Python Notebooks
Python notebooks are a mix of text cells and code cells. This is a text cell. You can edit the text and even write $\LaTeX$ equations:
$${n \choose r} = \frac{n!}{r!(n-r)!}$$

In [ ]:
# This is a comment in a code cell. Select this cell and run it with [Shift]+[Enter]
x = 25

Notebooks run an interactive Python environment. The code you ran above created a variable named `x` and set that variable equal to `25`. That value is now stored in the background Python environment. Run the next code cell to see the current value of `x`.

In [ ]:
x

25

## Notebooks are easy to edit, but can lead to problems
Being able to quickly edit and re-run code cells is what makes notebooks useful. It can also lead to issues when cells are run out of order, or create impossible-to-find bugs when variables are deleted from code but still exist in the background environment. Just be aware that this is only one type of platform.

## Try writing Python!
The rest of this document gives examples of funamental Python syntax. Read, run, and edit cells.

## Variables, print(), and arithmetic

In [15]:
# The following variables are an integer, floating point number, and string:
i = 42
f = 3.14
s = "String of characters"

# The print() function prints to the output. Run and edit values then re-run.
print(i)
print(f)
print(s)

42
3.14
String of characters

In [8]:
# Basic arithmetic
v1 = 5 + 3
v2 = 6 - 5
v3 = 8 * 7
v4 = 9 / 3
print(v1,v2,v3,v4)

8 1 56 3.0

In [10]:
# Expressions
result = 2 + (5+17)/(4*22)
print(result)

2.25

In [19]:
# The following expression generates an error because someone tried using implicit
# multiplication (not writing * for multiply). Run first, then fix the error.

4(8+3)

<>:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
/tmp/ipython-input-480699239.py:4: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  4(8+3)

TypeError: 'int' object is not callable


In the code cell below, add a line of code that creates a variable `answer` and assigns it the value $3\times \frac{20+8}{10-6}$. Then print `answer` (it should be 21.0).

In [14]:
# TODO: Put your code in this cell:

## Strings

In [17]:
# A string of characters is how we store basic text. Note the quotes.
# Fix the code below so there is a space between sentences.
str1 = "This is a string."
str2 = 'Single quotes work also.'
print(str1 + str2)

This is a string.Single quotes work also.

## Lists and indexing

In [2]:
#

## Loops

In [ ]:
# Loops

## Functions